section#apps {
  header {
    margin-bottom: 4rem;
  }

  .authorizations {
    .auth {
      @include contentBox;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 120px 1fr 1fr 1fr 1fr;

      h4 {
        line-height: 2rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.28rem;
        font-weight: normal;
        // background: #efefef;
        // border-right: 1px solid $lightBodyContentBoxBorder;
      }

      p {
        margin: 0;
        line-height: 2rem;
      }

      > div {
        grid-column-end: span 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0.8rem 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;

        &:last-child {
          border-right: none;
        }

        // h4, p {
        //   flex: 0;
        // }

        &.icon {
          height: 120px;
          padding: 0;
          border-right: 1px solid $lightBodyContentBoxBorder;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            max-width: 72px;
            max-height: 72px;

            path {
              fill: $lightBodyContentBoxBorder;
            }
          }
        }

        &.app-name {
          a {
            color: $bodyTextDiscreetColor;
          }
        }

        &.metadata {
          grid-column-end: span 2;

          p {
            &.created-at {
              font-size: 0.9rem;
              color: $bodyTextDiscreetColor;
            }
          }
        }

        &.actions {
          display: flex;
          align-items: flex-end;
          justify-content: center;

          .button {
            flex: 0;
          }
        }
      }
    }
  }
}
