section#apps {
  header {
    margin-bottom: 4rem;
  }

  .authorizations {
    .auth {
      @include contentBox;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .icon {
        flex: 0;
        @include padding(null 2rem);
      }

      .details {
        flex: 1;
        padding: 1.2rem 2rem;
        text-align: left;
        border-left: 1px solid $lightBodyContentBoxBorder;
      }
    }
  }
}
