@import "bourbon";

@import "resets";
@import "colors";
@import "fonts";
@import "mixins";

@import "partials/topbar";

html {
  font-size: 16px;
}

body {
  background-color: $lightBodyBackground;
  color: $bodyTextColor;
  font-family: $bodyFontFamily;
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin-bottom: 3rem;
}

h2 {
  @include headlineFont(uppercase);
  font-size: 2.2rem;
  color: $shadedShinyBlue;
}

p {
  line-height: 1.6em;
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.text-large {
    font-size: 1.2rem;
  }
}

#container-main {
  padding: 6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.content {
  flex: 1;
  max-width: 960px;
  text-align: center;

}

@import "components/blurb";
@import "components/buttons";
@import "views/welcome";
@import "views/apps";
