header.topbar {
  height: 60px;
  line-height: 60px;
  background-color: $darkGrey;
  // background-image: linear-gradient(-90deg, $darkBlue 0%, #322953 100%);

  h1 {
    display: inline-block;
    line-height: inherit;
    padding: 0 1rem;
    color: #fff;
    @include headlineFont(uppercase);

    span.secondary {
      color: $greyTextOnDarkGrey
    }

    img {
      width: 36px;
      height: auto;
      margin-right: 0.4rem;
      margin-top: 11px;
      vertical-align: top;
    }
  }

  nav {
    display: block;
    float: right;
    width: auto;
    font-size: 14px;

    ul {
      li {
        display: inline;

        a {
          display: inline-block;
          padding: 0 1rem;
          text-decoration: none;
          color: $greyTextOnDarkGrey;
          transition: color 0.1s linear;

          svg {
            height: 1rem;
            width: auto;
            vertical-align: middle;
            margin-top: -0.2rem;
            margin-right: 0.3rem;

            path {
              fill: $greyTextOnDarkGrey;
              transition: fill 0.1s linear;
            }
          }

          &:hover, &:active {
            color: $shinyBlue;

            svg {
              path {
                fill: $shinyBlue;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  header.topbar {
    h1 {
      span.primary {
        display: none;
      }
      span.secondary {
        color: #fff;
      }
    }
    nav {
      ul {
        li {
          a {
            // padding: 0 0.5rem;
          }
          &:last-of-type a {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
