header.topbar {
  height: $topbarHeight;
  line-height: $topbarHeight;
  background-color: $darkerGrey;

  h1 {
    display: inline-block;
    line-height: inherit;
    padding: 0 1rem;
    color: #fff;
    @include headlineFont(uppercase);

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: $shinyBlue;
      }
    }

    span.secondary {
      color: $greyTextOnDarkGrey
    }

    img {
      height: 2.4rem;
      width: auto;
      margin-right: 0.4rem;
      margin-top: 0.7rem;
      vertical-align: top;
    }
  }

  nav {
    display: block;
    float: right;
    margin-right: 0.4rem;
    width: auto;
    font-size: 1rem;

    ul {
      li {
        display: inline-block;

        a, .ember-basic-dropdown-trigger {
          display: inline-block;
          padding: 0 0.6rem;
          text-decoration: none;
          color: $greyTextOnDarkGrey;
          transition: color 0.1s linear;
          cursor: pointer;

          svg {
            height: 1.4rem;
            width: auto;
            vertical-align: middle;
            margin-top: -0.2rem;
            margin-right: 0.3rem;
          }

          &:hover, &:active, &[aria-expanded=true] {
            color: $shinyBlue;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header.topbar {
    h1 {
      span.primary {
        display: none;
      }

      span.secondary {
        color: #fff;
      }
    }
  }
}
