{{#each parsedPermissions as |permission|}}
  <span class="permission">
    <span class="directory">{{permission.directory}}</span>
    &nbsp;
    <span class="access">{{permission.access}}</span>
  </span>
{{/each}}
