{{#each this.parsedPermissions as |permission|}}
  <span class="permission">
    {{#if permission.root}}
      <span class="directory root">
        <Icons::asterisk />
        all folders and files
      </span>
    {{else}}
      <span class="directory">
        <Icons::folder-alt />
        {{permission.directory}}
      </span>
    {{/if}}
    {{#if permission.access}}
      <span class="access">{{permission.access}}</span>
    {{/if}}
  </span>
{{/each}}
