<div class="plan">
  <div class="limits">
    <div class="limit size">
      <StorageSizeProgress @percent={{this.currentUser.user.storageSizeInPercent}} />
      <p>
        <strong>Usage</strong>
        <span class="numbers">
          <span class="used">{{number-to-human-size this.currentUser.user.storageSize}}</span>
          <span class="available">
            of {{number-to-human-size this.currentUser.user.maximumStorageSize}}
          </span>
        </span>
      </p>
    </div>
  </div>
</div>
