<<<<<<< HEAD
{{partial "topbar"}}
=======
{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}
>>>>>>> d4c092d... message

<div id="container-main">
  {{outlet}}
</div>
