<section class="content" id="apps">
  <header>
    <h2>Connected Apps</h2>
  </header>
  <div class="authorizations">
    {{#each this.model as |auth|}}
      <AppAuthorization @auth={{auth}} @revokeAccess={{action "revokeAccess"}} />
    {{/each}}
  </div>
</section>
