<section class="content" id="welcome">
  <header>
    <h2>Welcome!</h2>
    <p class="text-large">
      You have not allowed any apps to access your storage account yet.
    </p>
    <p>
      Your user address for this account is:
      <span class="user-address">{{this.currentUser.user.storageAddress}}</span>
    </p>
  </header>
  <div class="info blurb">
    <div class="icon">
      <Icons::InfoCircle />
    </div>
    <div class="text">
      <p>
        When connecting your storage to an app, you will be redirected to 5apps,
        where you can see the requested permissions and allow or reject
        access. Connected apps will appear here, on your storage dashboard,
        where you can revoke access for apps at any time.
      </p>
    </div>
  </div>
</section>
