<section class="content" id="welcome">
  <div class="intro">
    <h2>Welcome!</h2>
    <p class="text-large">
      You have not allowed any apps to access your storage account yet.
    </p>
    <p>
      Your user address for this account is:
      <span class="user-address">basti@5apps.com</span>
    </p>
  </div>
  <div class="info blurb">
    <div class="icon">
      {{partial "icons/info-circle"}}
    </div>
    <div class="text">
      <p>
        When connecting your storage to an app, you will be redirected to 5apps,
        where you can see the requested permissions and allow or not allow
        access. Connected apps will appear here, on your 5apps Storage dashboard,
        where you can revoke access for any app at any time.
      </p>
    </div>
  </div>
</section>
