<section id="apps">
  <div id="getting-started">
    <h3>
      Welcome to 5apps Storage!
    </h3>

    <p class="intro">
      You haven't authorized any apps to access your 5apps storage yet.
    </p>

    <h4>Getting started</h4>

    <p>
      Look for the remoteStorage widget in apps. Click it and enter your
      user address in order to connect your storage account:
    </p>

    {{widget-demo}}

    <p>
      Your user address for this account is:
      <strong>{{currentUser.user.storageAddress}}</strong>
    </p>

    <p>
      When first connecting an app, you will be redirected to 5apps, where
      you can grant it access to your storage.
    </p>

    <p>
      All connected apps will appear on this page, where you can revoke
      access, if you no longer wish to use the app.
    </p>
  </div>
</section>

